<%= devise_error_messages! %>

<div class="container">

  <%= form_for(resource, :as => resource_name, :url => user_registration_path(resource), :html => {:class => 'form-signin'}) do |f| %>

    <h2 class="form-signin-heading">Please signup</h2>

    <div><%= f.label :username %><br />
    <%= f.text_field :username, :autofocus => true, :placeholder => "Username", :class => "form-control" %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :placeholder => "Email", :class => "form-control" %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :placeholder => "Password", :class => "form-control" %></div>

    <%= f.submit "Signup for ShortSlide", :class => "btn btn-lg btn btn-block" %>

  <% end %>

  <form class="form-signin">
    <%= link_to raw('<img src="/icon/glyphicons_social_30_facebook.png" width="16px"></img> Connect with Facebook'), user_omniauth_authorize_path(:facebook), :class => "btn btn-primary col-xs-12" %>
  </form>
</div>
