<ol class="breadcrumb">
  <li><%= link_to 'HOME', root_path %></li>
  <li><%= link_to '一覧', templates_path %></li>
  <li class="active">テンプレート確認</li>
</ol>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Content:</strong>
  <pre><%= @template.content %></pre>
</p>

<p>
  <strong>Params:</strong>
  <ul>
    <% @template.params.each do |param| %>
    <li><%= param %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_template_path(@template) %>
