<%= form_for [@slide, @control] do |f| %>
  <div class="input-group">
    <%= f.hidden_field :command, {:value => :previous} %>
    <%= f.submit '前', :class => "btn btn-default" %>
  </div>
<% end %>
<%= form_for [@slide, @control] do |f| %>
  <div class="input-group">
    <%= f.hidden_field :command, {:value => :next} %>
    <%= f.submit '次', :class => "btn btn-default" %>
  </div>
<% end %>
<%= form_for [@slide, @control] do |f| %>
  <div class="input-group">
    <%= f.hidden_field :command, {:value => :first} %>
    <%= f.submit '最初', :class => "btn btn-default" %>
  </div>
<% end %>
<%= form_for [@slide, @control] do |f| %>
  <div class="input-group">
    <%= f.hidden_field :command, {:value => :last} %>
    <%= f.submit '最後', :class => "btn btn-default" %>
  </div>
<% end %>
<% @slide.pages.each do |page| %>
  <%= form_for [@slide, @control] do |f| %>
    <div class="input-group">
      <%= f.hidden_field :command, {:value => :go} %>
      <%= f.hidden_field :message, {:value => page.id} %>
      <%= f.submit "#{page.id}. #{page.content[0]}", :class => "btn btn-default" %>
    </div>
  <% end %>
<% end %>
