<div class="row">
  <h1><%= @slide.title %><%= link_to '編集', edit_slide_path(@slide), :class => 'btn btn-default' %></h1>
</div>
<div class="row">
  <div class="col-xs-3">
    <%= link_to '新しいページ', new_slide_page_path(@slide), :class => 'btn btn-primary' %>
    <div class="list-group">
      <% @pages.each_with_index do |page, index| %>
        <a href="<%= slide_path(@slide) %>?full#<%= page.id %>" target="preview" class="list-group-item">
          <p class="list-group-item-text"><%= index + 1 %></p>
        </a>
        <%= link_to '編集', edit_slide_page_path(slide_id: page.slide_id, id: page.id) %> 
        <%= link_to '削除', [@slide, page], method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-9">
    <iframe name="preview" width="100%" height="450px" src="<%= slide_path(@slide) %>?full#1"></iframe>
  </div>
</div>
