<div class="container">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading">Please login</h2>

  <div><%= f.label :login %><br />
  <%= f.text_field :login, :autofocus => true, :placeholder => "Username or email", :class => "form-control" %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Login", :class => "btn btn-lg btn-primary btn-block" %></div>

<% end %>

<form class="form-signin">
  <%= link_to raw('<img src="/icon/glyphicons_social_30_facebook.png" width="16px"></img> Connect with Facebook'), user_omniauth_authorize_path(:facebook), :class => "btn btn-primary col-xs-12" %>
</form>

<div><%= link_to 'Signupはこちら', new_user_registration_path %></div>
