<!DOCTYPE html>
<html>
<head>
  <title>Shortslide</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag "shower-print", media: "print" %>
  <%= stylesheet_link_tag "shower-screen", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="list">

<%= yield %>

<%= javascript_include_tag 'shower' %>

</body>
</html>
