<!DOCTYPE html>
<html>
<head>
  <title>Shortslide</title>
  <%= stylesheet_link_tag "shower-print", media: "print" %>
  <%= stylesheet_link_tag "shower-screen", media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="list">

<%= yield %>

<%= javascript_include_tag 'shower' %>

<%= yield :javascript %>

</body>
</html>
